html,
body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


body {
    height: 100vh;
    font-size: 15px;
    background-color: #101010;
    color: #101010;
}

.auth-card {
    max-width: 609px;
    padding: 50px 128px;
}

input.form-control, input[type=button], button {
    padding: 16px 21px;
}

input.form-control {
    border-color: #101010;
}

input[type=button] {
    background-color: #6979F8;
    border-color: transparent;
}

a {
    text-decoration: none;
}

.sign-up-link {
    text-decoration: underline;
}

nav.side-menu {
    color: white;
    font-size: 20px;
}

nav.side-menu > a.nav-link {
    padding: 15px 15px 15px 0;
    color: rgba(255,255,255, 0.5);
}

nav.side-menu > a.nav-link.active {
    color: #fff;
}

.link-account-card {
    min-width: 393px;
    min-height: 320px;
    color: #fff;
    background-color: #101010;
    border-radius: 10px;
    padding: 45px 70px;
}

.link-account-btn {
    color: #182CD1;
}